body{
    font-family:Arial;
    background:#ecf0f1;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    }
    
    .bank{
    background:white;
    padding:30px;
    width:350px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px gray;
    }
    
    input{
    width:100%;
    padding:10px;
    margin:10px 0;
    }
    
    button{
    padding:10px 15px;
    margin:5px;
    border:none;
    background:#2ecc71;
    color:white;
    cursor:pointer;
    }
    
    ul{
    text-align:left;
    }