body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#141e30,#243b55);
    font-family:Arial;
}

.clock{
    background:#000;
    padding:40px 60px;
    border-radius:15px;
    box-shadow:0 0 25px cyan;
}

h1{
    color:#00ffff;
    font-size:60px;
    letter-spacing:3px;
}