body{
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:white;
    }
    
    .container{
    text-align:center;
    }
    
    .logo{
    font-size:50px;
    color:#4285f4;
    }
    
    input{
    width:350px;
    padding:12px;
    margin:15px;
    border-radius:25px;
    border:1px solid gray;
    }
    
    button{
    padding:10px 20px;
    background:#4285f4;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    }