body{
    font-family: Arial;
    background: linear-gradient(135deg,#667eea,#764ba2);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    width:300px;
}

input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px;
    margin:5px;
    border:none;
    background:#333;
    color:white;
    cursor:pointer;
}

.options{
    text-align:left;
}