body{
    font-family:Arial;
    margin:0;
    background:#f4f4f4;
    text-align:center;
    }
    
    header{
    background:#222;
    color:white;
    padding:30px;
    }
    
    section{
    margin:30px;
    background:white;
    padding:20px;
    border-radius:10px;
    }
    
    ul{
    list-style:none;
    padding:0;
    }
    
    .card{
    background:#3498db;
    color:white;
    margin:10px;
    padding:15px;
    border-radius:8px;
    }
    
    input,textarea{
    width:60%;
    padding:10px;
    margin:10px;
    }
    
    button{
    padding:10px 20px;
    background:#2ecc71;
    border:none;
    color:white;
    cursor:pointer;
    }