body{
    font-family:Arial;
    background:#f4f6f8;
    text-align:center;
    }
    
    .container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:20px;
    }
    
    .form{
    background:white;
    padding:20px;
    border-radius:10px;
    width:250px;
    box-shadow:0 0 5px gray;
    }
    
    .resume{
    background:white;
    padding:20px;
    width:300px;
    border-radius:10px;
    text-align:left;
    box-shadow:0 0 5px gray;
    }
    
    input,textarea{
    width:100%;
    margin:8px 0;
    padding:8px;
    }
    
    button{
    padding:10px;
    background:#2ecc71;
    color:white;
    border:none;
    cursor:pointer;
    }