body{
    font-family: Arial;
    background:#141e30;
    color:white;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.quiz-box{
    width:400px;
    background:#243b55;
    padding:25px;
    border-radius:10px;
    text-align:center;
}

button{
    width:100%;
    margin:5px 0;
    padding:10px;
    border:none;
    background:#00c6ff;
    color:black;
    cursor:pointer;
}

#progress{
    width:100%;
    height:10px;
    background:#555;
    margin:15px 0;
}

#bar{
    height:10px;
    width:0%;
    background:lime;
}