body{
    font-family: Arial;
    text-align: center;
    background:#f4f4f4;
}

h1{
    color:#333;
}

.form{
    margin:20px;
}

input{
    padding:10px;
    margin:5px;
    width:150px;
}

button{
    padding:10px 15px;
    background:green;
    color:white;
    border:none;
    cursor:pointer;
}

table{
    margin:auto;
    border-collapse:collapse;
    width:70%;
    background:white;
}

th,td{
    border:1px solid #ccc;
    padding:10px;
}

th{
    background:#333;
    color:white;
}

.delete{
    background:red;
}